<h1>ユーザー作成テスト</h1>
<h1>importmap-railsのエラーテストします!</h1>
<h1>3.23stimulus-オートコンプリートインストールテスト</h1>
<h3>3.25オートコンプリートテスト、初期動作成功</h3>
<h3>4.4画像選択でプレビューの表示のStimulus設定成功</h3>
<%= link_to '新規ユーザー作成', new_user_path %>
<%= link_to '一覧', users_path %>
<%= link_to 'ポストindex', posts_path %>
<%= link_to 'ポストnew', new_post_path %>
<%= link_to 'ポストtest_a', test_a_posts_path %>
<%= link_to '背景テスト', test_path %>