<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <%# ーーーーーーー画像選択でプレビューの表示のStimulus設定ーーーーーーーーー %>

  <div data-controller="preview">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, data: { "preview-target": "input", action: "change->preview#previewImage"} %>
    <%# ーーー"change->xxxxx"のchangeは、ファイル選択の入力フィールドでユーザーがファイルを選択したときに発火するイベントーー %>
    <%#  ーーーーー今回はchangeイベントが発火すると「preview_controller.js」の「previewImage」のメソッドが呼び出されるーーーー%>

    <div class="row" data-preview-target="existing">
      <% if user.persisted? && user.avatar.attached? && @test == "1" %>
        <%= image_tag user.avatar %>
      <% end %>
    </div>

    <div class="row" data-preview-target="preview">
    </div>

  </div>

  <div data-controller="preview">
    <%= form.label :sub_avatar %>
    <%= form.file_field :sub_avatar, data: { "preview-target": "input", action: "change->preview#previewImage"} %>

    <div class="row" data-preview-target="existing">
      <%= image_tag user.sub_avatar if user.sub_avatar.attached? %>
    </div>

    <div class="row" data-preview-target="preview">
    </div>

  </div>

  <%# ーーーーーーー画像選択でプレビューの表示のStimulus設定ーーーーーーーーー %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<% if @test == "1" %>
画像初期
<% elsif @test == "2" %>
編集失敗後
<% else %>
失敗
<% end %>