<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
<%= link_to "トップページ", static_pages_top_path %>

<div class="mt-3">
  <%= link_to "Test Bootstrap Button", "#", class: "btn btn-primary", id: "testButton" %>
</div>

<script>
  document.getElementById("testButton").addEventListener("click", function(event) {
    event.preventDefault(); // リンクのデフォルト動作を防ぐ
    alert("ボタンがクリックされたダ！");
  });
</script>