<div class="container">

    <h1>ユーザー一覧</h1>

    <%= search_form_for @q, url: users_path do |f| %>
      <div data-controller="autocomplete" data-autocomplete-url-value="/users/search" role="combobox">
        <%= f.search_field :name_cont, data: { autocomplete_target: 'input' }, class: 'form-control', placeholder: '検索' %>
        <%= f.hidden_field :name, data: { autocomplete_target: 'hidden' } %>
        <ul class="list-group" data-autocomplete-target="results">
        </ul>
      </div>
     
    <%= f.submit "決定" %>
   <% end %>


    <div id="users">
      <% @users.each do |user| %>
        <div class="d-flex flex-column my-2">
          <div>
          ーーーーーーーーーーーーー
          </div>
          <div>
          ユーザー名：<%= user.name %>
          </div>
          <div>
          E-メール：<%= user.email %>
          </div>
          <div class="col-2">
          <%# image_tag user.avatar if user.avatar.attached? %>
          </div>
          <div>
          <%# image_tag user.sub_avatar if user.sub_avatar.attached? %>
          </div>
          <div>
          ーーーーーーーーーーーーー
          </div>
        </div>
      <% end %>
    </div>

    <h1 class="user_test">テスト</h1>

    <%= link_to "New user", new_user_path %>
    <%= link_to "トップページ", static_pages_top_path %>

    <%# Stimulusを使用した非同期処理のテスト（ボタン押すと文字消える） %>

    <div data-controller="images">
      <div class="row" data-images-target="word">
        <h1>Sample1</h1>
        <h2>Sample2</h2>
      </div>

      <button data-action="click->images#clickTest">ボタン</button>
    </div>

</div>










<div class="mt-3">
  <%= link_to "Test Bootstrap Button", "#", class: "btn btn-primary", id: "testButton" %>
</div>

<script>
  document.getElementById("testButton").addEventListener("click", function(event) {
    event.preventDefault(); // リンクのデフォルト動作を防ぐ
    alert("ボタンがクリックされたダ！");
  });
</script>