<div class="container">
  <div class="row">

    <h1>ユーザー一覧</h1>

    <%= search_form_for @q, url: users_path do |f| %>
      <div data-controller="autocomplete" data-autocomplete-url-value="/users/search" role="combobox" class="flex-grow">
        <%= f.search_field :name_cont, data: { autocomplete_target: 'input' }, class: 'form-control', placeholder: 'ジム名で検索' %>
        <%= f.hidden_field :name, data: { autocomplete_target: 'hidden' } %>
        <ul class="list-group z-10 bg-base-100 dark:bg-base-200 hover:bg-base-200 dark:hover:bg-base-100 absolute w-full md:text-sm" data-autocomplete-target="results">
        </ul>
        <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none pl-3">
          <span class="material-symbols-outlined text-gray-400">search</span>
        </div>
      </div>

      <%= f.submit "BBB" %>
    <% end %>


    <div id="users">
      <% @users.each do |user| %>
        <div class="d-flex flex-column my-2">
          <div>
          ーーーーーーーーーーーーー
          </div>
          <div>
          ユーザー名：<%= user.name %>
          </div>
          <div>
          E-メール：<%= user.email %>
          </div>
          <div>
          <%= image_tag user.avatar if user.avatar.attached? %>
          </div>
          <div>
          ーーーーーーーーーーーーー
          </div>
        </div>
      <% end %>
    </div>

    <%= link_to "New user", new_user_path %>
    <%= link_to "トップページ", static_pages_top_path %>

  </div>
</div>










<div class="mt-3">
  <%= link_to "Test Bootstrap Button", "#", class: "btn btn-primary", id: "testButton" %>
</div>

<script>
  document.getElementById("testButton").addEventListener("click", function(event) {
    event.preventDefault(); // リンクのデフォルト動作を防ぐ
    alert("ボタンがクリックされたダ！");
  });
</script>