<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user, test: @test) %> |
  <%= link_to "Back to users", users_path %>
  <%= link_to "トップページへ", static_pages_top_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
