<div class="container">
<div class="row">
いんでっくす

<% @posts.each do |post| %>
  <div class="row">
  <div class="py-4 my-1 bg-info">
  <%= post.title %>
  <%= post.address %>
  <%= post.latitude %>
  <%= post.longitude %>
  </div>
  </div>
<% end %>

<%# ーーーーーーーーーーーーーーーーーーーーーーーーtest %>

<div class="row bg-info mb-3">
<% @posts.each_with_index do |post, area_index| %>
  <div class="form-check form-check-inline col-3">
    <input class="form-check-input" type="checkbox" name="ps[]" id="area_box<%= area_index %>" value="<%= post.title %>">
    <label class="form-check-label" for="area_box<%= area_index %>">
      <%= post.title %>
    </label>
  </div>
<% end %>
</div>



<%# ーーーーーーーーーーーーーーーーーーーーーーーーtest %>

</div>
</div>
