にゅー

<%= form_with model: @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>

  <%= f.label :address %>
  <%= f.text_field :address, class: "form-control" %>
  
  <%= f.submit nil, class: "btn btn-primary" %>
<% end %>

<div>
    <h1 class='title'>社員情報一覧</h1>
    <%= link_to '社員を作成', "#" %>
  </div>